<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
    <head th:replace = "/layouts/encabezado :: head"</head>
    <body>
        <header>
            <nav th:replace="/layouts/navbar :: nav" </nav>
        </header>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        
        <div id="divPadre">

            <div id="divHijo">
                <div class="p-3 mb-2 bg-light text-dark" role="alert">
                    <h3 class="card-title">
                        <p th:if="${session.usuariosession != null}" th:text=" 'Bienvenido '+ ${session.usuariosession.nombre} + ','"></p>
                    </h3>
                    <h5 class="card-title">Sistema de ventas y control Spring Boot</h5>
                </div>
            </div>
        </div>
        
        <footer th:replace = "/layouts/pie :: footer"</footer>
    </body>
</html>
