<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
    <head th:replace = "/layouts/encabezado :: head"</head>
    <body>
        <header>
            <nav th:replace="/layouts/navbar :: nav" </nav>
        </header>
            <div class="col-12">
                <h2>Productos</h2>
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                     th:text="${mensaje}"
                     class="alert">
                </div>
                <a class="btn btn-success mb-2" th:href="@{/producto/registrar}">Agregar</a>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio * Kg</th>
                                <th scope="col">Proveedor</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody th:each="producto : ${productos}">
                            <tr>
                                <th th:text="${producto.nombre}"></th>
                                <td th:text="${producto.cantidad}"></td>
                                <td th:text="${producto.descripcion}"></td>
                                <td th:text="${producto.precio}"></td>
                                <td th:text="${producto.proveedor.nombre}"></td>
                                <td>
                                    <a th:href="@{/producto/modificar/__${producto.id}__}" class="btn btn-warning">Modificar <i class="fa fa-edit"></i></a>
                                    
                                </td>
                                <td>
                                    <a th:href="@{/producto/eliminar/__${producto.id}__}" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        <footer th:replace = "/layouts/pie :: footer"</footer>
    </body>
</html>
