<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="container">
                <h2>LISTA DE PROVEEDORES</h2>
            </div>
            
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
        </header>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Lugar</th>
                    </tr>
                </thead>
                <tbody th:each="proveedor : ${proveedores}">
                    <tr>
                        <th scope="row" ><a th:text="${proveedor.nombre}"></a></th>
                        <td th:text="${proveedor.email}"></td>
                        <td th:text="${proveedor.telefono}"></td>
                        <td th:text="${proveedor.lugar}"></td>
                        <td>
                            <a th:href="@{/proveedor/modificar/__${proveedor.id}__}" class="btn btn-dark">Modificar</a>
                            <a class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
