<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
    <head th:replace = "/layouts/encabezado :: head"</head>
    <body>
        <header>
            <nav th:replace="/layouts/navbar :: nav" </nav>
        </header>
            <div class="col-12">
                <h2>Proveedores</h2>
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                     th:text="${mensaje}"
                     class="alert">
                </div>
                <a class="btn btn-success mb-2" th:href="@{/proveedor/registrar}">Agregar</a>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Lugar</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody th:each="proveedor : ${proveedores}">
                            <tr>
                                <th scope="row" ><a th:text="${proveedor.nombre}"></a></th>
                                <td th:text="${proveedor.email}"></td>
                                <td th:text="${proveedor.telefono}"></td>
                                <td th:text="${proveedor.lugar}"></td>
                                <td>
                                    <a th:href="@{/proveedor/modificar/__${proveedor.id}__}" class="btn btn-warning">Modificar <i class="fa fa-edit"></i></a> 
                                </td>
                                <td>
                                    <a class="btn btn-danger">Eliminar <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        <footer th:replace = "/layouts/pie :: footer"</footer>
    </body>
</html>
