<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
    <head th:replace = "/layouts/encabezado :: head"</head>
    <body>
        <header>
            <nav th:replace="/layouts/navbar :: nav" </nav>
        </header>
        <main>
            <div class="col-8">
                <h2>Modificar proveedor</h2>
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error!</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>

                <form th:action="@{/proveedor/modificar/__${proveedor.id}__}" method="POST">
                    
                    <input hidden th:value="${id}" name="id">
                    
                    <div class="form-group">
                        <label for="nombre">Nombre del proveedor</label>
                        <input autocomplete="off" autofocus id="nombre"
                               placeholder="Escribe el nombre del proveedor" type="text"
                               class="form-control" name="nombre" th:value="${proveedor.nombre}">
                    </div>
                    <div class="form-group">
                        <label for=>Email</label>
                        <input autocomplete="off" id=""
                               placeholder="Email del proveedor" type="email"
                               class="form-control" name="email" th:value="${proveedor.email}">
                    </div>
                    <div class="form-group">
                        <label for="">Lugar</label>
                        <input autocomplete="off" id="" placeholder="Escribe el lugar"
                               type="text"
                               class="form-control" name="lugar" th:value="${proveedor.lugar}">
                    </div>
                    <div class="form-group">
                        <label for="">Teléfono</label>
                        <input autocomplete="off" id="" placeholder="Teléfono del proveedor"
                               type="tel"
                               class="form-control" name="telefono" th:value="${proveedor.telefono}">
                    </div>
                     
                    <button class="btn btn-success" type="submit">Modificar</button>
                    <a class="btn btn-warning" th:href="@{/proveedor/lista}">Ver todos</a>
                </form>
            </div>
        </main>
        <footer th:replace = "/layouts/pie :: footer"</footer>
    </body>
</html>

